body, html {
    height: 100%;
    margin: 0;
    background-image: url("../images/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    font-family: verdana;
}
#largeScreenMsg {
    visibility: hidden;
    display: none;
}
#largeScreenMsg img {
    visibility: hidden;
    display: none;
}
.header {
    top: 0px;
    height: 60px;
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: darkgreen;
}
#pageHeader img {
    width: 45px; height: auto;
    top: 2px; left: 2px;
    
    
}

.header h1 {
    position: absolute;
    left: 50px;
    top: 5px;
    font-size: 20px;
}
.header h2 {
    position: absolute;
    left: 10px;
    top: 30px;
    font-size: 14px;
}
.page-nav {
	background-color: rgb(245,191,69);
	position: fixed;
    top: 60px;
	left: 0px;
	width: 100%;

}

.page-nav select{
    background-color: darkgreen;
    color: sandybrown;
    font-size: 14px;
    left: 2%;
    margin: 5px;
    
    height: 30px;
    margin-left: 10px;
    
}
#park {
    width: 65%;
}
#state {
    width: 20%;
}

.main {
    
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 2px; 
    margin-right: 2px;
    display: flex;
    flex-direction: column;
    visibility: visible;
    
}
#mainDisp {
    opacity: 1;
}
#locDisplay {
    text-align: center;
    
    
}
#cover {
    text-align: center;
}
.footer {
    position: fixed;
    font-size: 11px;
    bottom: 0;
    left: 0;
    background-color: rgb(245,191,69);
    
    border-top: 2px solid darkgreen;
    width: 100%;
}

           #topRowRight {
                text-align: center;

            }

.SummaryText{
    text-align: center;
    color: black;
    font-size: 22px;
    position: inherit;
    top: 215px;
    right: auto;
    padding: 0;
    margin: 0;
    text-shadow: 0 0 3px orange;
}
            

.HiLoBox {

    height: 90px;
    margin-top: 5px;
    flex-grow: 1;
    padding: 0px 0px;

    text-align: center;
    text-shadow: 0 0 3px orange;

}
section.HiLoBox p {
    font-size: 30pt;
    text-align: center;
    color: black;
    line-height: 0;
}
section.HiLoBox h3 {

    text-align: center; 
    font-size: 16pt;
    line-height: 0;
    color: black;

}
.DateBox {

    height: 50px;
    margin-top: 5px;
    color: black;
    text-align: center;
    flex-grow: 1;
    text-shadow: 0 0 3px orange;

}

.OtherDataBox1 {
    flex-grow: 1;
    padding: 5px;
    height: auto;
    margin-top: 5px;
    color: white;
    position: inherit;
    text-shadow: 0 0 3px darkgreen;
}
.OtherDataBox1 p {
    /*background-color: rgb(255,255,255, 0.6);*/
    padding: 5px;
    color: white;
    font-size: 14pt;
    text-shadow: 0 0 3px darkgreen;
}

section.HourlyDataBox h3{
    line-height: 0;
    font-size: 24px; 
    color: white;
    text-align: center;
    text-shadow: 0 0 3px darkgreen;
} 
.HourlyDataBox {
    width: 95%;
    height: auto;
    margin-left: 5px;
    margin-right: 10px;
   
    color: white;
    padding: 5px 5px 50px 5px;
    font-size: 12pt;
    text-shadow: 0 0 3px darkgreen;
    /*background-color: rgb(255,255,255, 0.6);*/
}
 


div.locText {color: yellow; font-size: 1px; visibility: hidden;}  

:root{--screenSize:small} /* Pass screensize variable to Javascript */


#topRowLeft {
    display: flex;
    flex-direction: column;

    flex-grow: 2;
}

#topRowRight {
    flex-grow: 1;
    visibility: visible;
}
.SummaryIdAndImageSm {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.SummaryIdAndImageLg{
    display: none;
    visibility: collapse;
}
#SummaryImg {
    flex: 1;
    height: 130px;
    width: 130px;
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;              
}
#SummaryImg:hover, #SummaryImg:focus, #SummaryImg:active  {
    width: 140px;
    height: 140px;

}

.HiLoBox {
    flex-grow: 1;
}


#topRowLeftL {
    visibility: collapse;
}

.smTable{
    border-collapse: collapse;
    width: 98%;
    text-align: center;
}
.smTableTr td{
    padding: 2px 20px 2px 20px;
}
.smTableTr:nth-child(even) {background-color: green;}
#OtherDataId img{
    position: fixed;
    top: 35px; right: 5px;
    width: 30px; height: 30px;
}
#infoPopUp {
    position: fixed;
    top: 100px; left: -700px;
    width: 95%; height: 250px;
    border: 4px solid green;
    border-radius: 10px;
    background-color: lightgray;
    animation-fill-mode: forwards;
    
    opacity: 1;
}
#infoPopUp p {
    opacity: 1;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-style: italic;
}

@keyframes expandPopUp {
    0% {left: -700px;background-color: lightgray; }
    50% {background-color: green;}    
    100% {left: 0px;background-color: forestgreen;}
}
@keyframes collapsePopUp {

    0% {left: 0px;background-color: forestgreen;}
    50% {background-color: green;}
    100% {left: -700px;background-color: darkgreen;}
}
    /*}*/
/*  If screen width is larger than 690px, enable message that site is for mobile only. */
@media only screen and (min-width: 690px){
    .main {
        visibility: hidden;
        opacity: 0;
    } 
    #largeScreenMsg {
        visibility: visible;
        background-color: black;
        opacity: 0.9;
        display: block;
        position: fixed;
        top: 60px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 10;
        color: white;
        text-align: center;
    }
    #largeScreenMsg img {
        position: fixed;
        top: 35%;
        right: 45%;
        height: 100px;
        width: 100px;
        display: block;
        visibility: visible;
    }
}
@media only screen and (max-width: 450px){
    .header h1 {
        font-size: 16px;
    }
}
@media only screen and (max-width: 300px){
    .header h1 {
        font-size: 14px;
    }
    .HourlyDataBox {
        font-size: 12px;
    }
}    
